.footer{
    color: white;
    background-color: #333333;
    width: 1481px;
}
.footer_container{
    display: flex;
}
.logo_container{
    width: 300px;
    padding: 20px 0 0 100px;
}
.logo_container img{
    width: 100px;
    margin: 0 75px 30px 0;
}
.link_container{
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #A9ADAE;
}
.link_container ul{
    padding: 0;
}
.link_container li{
    display: inline-block;
    margin-right: 50px;
    font-size: 18px;
}
.link_container a{
    padding: 4px;
    color: #A9ADAE;
    text-decoration: none;
}
.description{
    width: 100%;
    font-size: 15px;
}