.header{
    background-color: #333333;
    color: white;
    font-size: 18px;
    width: 1481px;
}
.logo{
    padding: 13px !important;
}
.header img{
    width: 40px;
    padding: 0;
}
.header ul{
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.header  ul > li{
    height: 70px;
}
.logout{
    border: none;
    text-align: left;
    cursor: pointer;
}
.header a, .logout{
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 70px;
    padding: 24px 25px;
    box-sizing: border-box;
}
.header a:hover{
    background-color: #262626;
    transition: 0.2s all ease;
}
.authorization{
    width: 200px;
    padding: 20px 0px;
    position: relative;
    font-size: 17px;
}
.profile{
    width: 200px;
    padding: 24.2px 25px;
    cursor: pointer !important;
    position: relative;
}
.profile:hover{
    background-color: #262626;
}
.authorization a{
    padding: 0;
    display: inline;
    color: blue;
    text-decoration: underline;
}
.authorization a:hover{
    background-color: transparent;
}
.profile a:hover{
    background-color: #333333;
}
.cart a{
    padding: 17.6px 25px;
}
.cart img{
    height: 30px;
}

.dropdown{
    display: none !important;
    position: absolute;
    width: 200px;
    left: 0;
    top: 50px;
    z-index: 1;
}
.profile:hover .dropdown{
    display: block !important;
}
.dropdown li{
    height: 47px !important;
}
.dropdown a, .dropdown .logout{
    display: block;
    padding: 10px 10px;
    background-color: #262626;
    height: 47px !important;
}
.dropdown a:hover, .dropdown .logout:hover{
    background-color: #303030;
}